* {
    font-family: inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Main {
    max-height: 600px;
    padding: 100px 180px;
    background: url(./home-header.png.png);
    background-position: bottom right;
    background-size: 550px;
    background-repeat: no-repeat;
    overflow-y: hidden;
    flex-wrap: wrap;
}

.Main .main-infos {
    display: flex;
}

.Main .tittle h1 {
    max-width: 600px;
    color: #02033B;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Main .tittle p {
    max-width: 600px;
    color: #02033B;
    font-size: 20px;

}

.Main .main-infos .img-main img {
    max-width: 240px;
    max-height: 461px;
    margin-left: 50px;
}

.Main .btns {
    display: flex;
}

.Main .btns #btn-yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #FFC247;
    color: #02033B;
    border-radius: 30px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
}

.Main .btns #btn-white {
    background-color: #fff;
    color: #02033B;
    margin-left: 40px;
    border-radius: 30px;
    font-size: 19px;
    font-weight: bold;
    border: 2px solid #02033B;
    padding: 15px 30px;
    cursor: pointer;
}

@media only screen and (max-width: 767.98px) {
    .Main {
        padding: 30px;
        background-color: #fff;
        background-image: none;
    }

    .Main .tittle h1 {
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
    }

    .Main .tittle p {
        font-size: 20px;
        text-align: justify;
    }

    .img-main {
        display: none;
    }

    .Main .btns {
        align-items: center;
        justify-content: center;
    }

    .Main .btns #btn-yellow {
        padding: 10px 15px;
        gap: 4px;
        font-size: 10px;
    }

    .Main .btns #btn-white {
        padding: 10px 15px;
        border: 1px solid #02033B;
        font-size: 10px;
    }
}

@media only screen and (max-width: 991.98px) {
    .Main {
        padding: 30px;
        background-color: #fff;
        background-image: none;
    }

    .img-main {
        display: none;
    }
}

@media only screen and (max-width: 1298.98px) {
    .Main {
        background-color: #fff;
        background-image: none;
    }

    .img-main {
        display: none;
    }
}
