* {
    font-family: inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    width: 400px;
    height: 300px;
    border-radius: 50px;
    overflow-y: hidden;
}

.card .star{
    display: flex;
    padding-bottom: 24px;
}

.card .comments p{
    color: #02033B;
    padding-bottom: 24px;
}

.card .comments h2{
    color: #02033B;
    padding-bottom: 24px;
    font-size: 15px;
    font-weight: bold;
}

@media only screen and (max-width: 767.98px) {
   
}

@media only screen and (max-width: 991.98px) {

}

@media only screen and (max-width: 1398.98px) {

}