* {
    font-family: inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.informations {
    display: flex;
    padding: 84px 132px;
}

.main-infos .tittle h1{
    font-size: 36px;
    font-weight: bold;
    color: #02033B;
    padding-bottom: 40px;
}

.main-infos .tittle p{
    font-size: 20px;
    color: #02033B;
    padding-bottom: 50px;
}


.main-infos .btns #yellow{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC247;
    color: #02033B;
    border-radius: 30px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    gap: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.main-infos .btns #white{
    background-color: #fff;
    color: #02033B;
    border-radius: 30px;
    font-size: 19px;
    font-weight: bold;
    border: 2px solid #02033B;
    padding: 15px 30px;
    cursor: pointer;
}

.informations .img-infos img{
    margin-left: 60px;
    box-shadow: 20px -10px #FFC247, 20px 10px 1px #FFC247;
}

@media only screen and (max-width: 767.98px) {
   
}

@media only screen and (max-width: 991.98px) {

}

@media only screen and (max-width: 1398.98px) {

}