* {
    font-family: inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-page {
    background-image: linear-gradient(to right top, #f3f8ff, #f0f6fe, #edf3fd, #eaf1fb, #e7effa);
    padding: 80px 300px;
    justify-content: center;
    align-items: center;
}

.card-page h1 {
    padding-bottom: 72px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #02033B;
}

.card-infos {
    align-items: center;
    justify-content: center;
    width: 840px;
    height: 872px;
    border-radius: 40px;
    box-shadow: 5px 5px 10px 5px #d8d8d8;
}

.card-infos .line-one {
    display: flex;
    margin-right: 10px;
    padding: 72px 40px 0px 65px;
    gap: 48px;
}

.card-infos .line-one .icon {
    max-width: 200px;
    max-height: 265px;
}

.card-infos .line-one .icon img {
    margin-left: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 72px;
}

.card-infos .line-one .icon h2 {
    font-size: 19px;
    font-weight: 900;
    color: #02033B;
    text-align: center;
    padding-top: 24px;
}

.card-infos .line-one .icon p {
    font-size: 16px;
    color: #02033B;
    text-align: center;
    padding-top: 24px;
}

.card-infos .line-two {
    display: flex;
    margin-right: 10px;
    padding: 72px 40px 0px 65px;
    gap: 48px;
}

.card-infos .line-two .icon {
    max-width: 200px;
    max-height: 265px;
}


.card-infos .line-two .icon img {
    margin-left: 60px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 72px;
}

.card-infos .line-two .icon h2 {
    font-size: 19px;
    font-weight: 900;
    color: #02033B;
    text-align: center;
    padding-top: 24px;
}

.card-infos .line-two .icon p {
    font-size: 16px;
    color: #02033B;
    text-align: center;
    padding-top: 24px;
}

.card-infos .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px 40px 72px 40px;
    gap: 25px;
}

.card-infos .buttons #yellow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFC247;
    color: #02033B;
    border-radius: 30px;
    font-size: 19px;
    font-weight: bold;
    border: none;
    padding: 15px 20px;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.card-infos .buttons #white {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #02033B;
    color: #02033B;
    border-radius: 30px;
    font-size: 19px;
    font-weight: bold;
    padding: 15px 20px;
    gap: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media (min-width: 100px) and (max-width: 767.98px) {
    .card-page {
        padding: 50px 50px;
        align-items: center;
        justify-content: center;
    }

    .card-page h1 {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .card-infos {
        align-items: center;
        justify-content: center;
        width: 320px;
        height: 350px;
        border-radius: 20px;
        padding: 30px 10px;
    }

    .card-infos .line-one {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding: 20px;
        gap: 0px
    }

    .card-infos .line-one .icon img {
        width: 30px;
        height: 30px;
        margin: 0px 0px 0px 25px;
        align-items: center;
        justify-content: space-around;
    }

    .card-infos .line-one .icon h2{
        font-size: 10px;
        padding-top: 12px;
    }

    .card-infos .line-one .icon p{
        display: none;
    }

    .card-infos .line-two {
        display: flex;
        margin-left: 10px;
        padding: 20px;
        gap: 10px
    }
    .card-infos .line-two .icon {
        justify-content: center;
        align-items: center;
    }

    .card-infos .line-two .icon img {
        width: 30px;
        height: 30px;
        margin: 0px 65px 0px 22px;
        justify-content: space-around;
        align-items: center;
    }

    .card-infos .line-two .icon h2{
        font-size: 10px;
        padding-top: 12px;
        gap: 5px
    }

    .card-infos .line-two .icon p{
        display: none;
    }

    .card-infos .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        gap: 20px;
    }
    
    .card-infos .buttons #yellow {
        padding: 10px 10px;
        gap: 2px;
        font-size: 8px;
        margin-bottom: 15px;
    }
    
    .card-infos .buttons #white {
        padding: 10px 10px;
        border: 1px solid #02033B;
        font-size: 8px;
        margin-bottom: 15px;
    }

}

@media (min-width: 768px) and (max-width: 991.98px) {
    .card-page {
        padding: 50px;
        align-items: center;
        justify-content: center;
    }

    .card-page h1 {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .card-infos {
        align-items: center;
        justify-content: center;
        margin-left: 180px;
        width: 320px;
        height: 350px;
        border-radius: 20px;
        padding: 10px;
    }

    .card-infos .line-one {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding: 20px;
        gap: 0px
    }

    .card-infos .line-one .icon img {
        width: 30px;
        height: 30px;
        margin: 0px 0px 0px 25px;
        align-items: center;
        justify-content: space-around;
    }

    .card-infos .line-one .icon h2{
        font-size: 10px;
        padding-top: 12px;
    }

    .card-infos .line-one .icon p{
        display: none;
    }

    .card-infos .line-two {
        display: flex;
        margin-left: 10px;
        padding: 20px;
        gap: 10px
    }
    .card-infos .line-two .icon {
        justify-content: center;
        align-items: center;
    }

    .card-infos .line-two .icon img {
        width: 30px;
        height: 30px;
        margin: 0px 65px 0px 22px;
        justify-content: space-around;
        align-items: center;
    }

    .card-infos .line-two .icon h2{
        font-size: 10px;
        padding-top: 12px;
        gap: 5px
    }

    .card-infos .line-two .icon p{
        display: none;
    }

    .card-infos .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        gap: 20px;
    }
    
    .card-infos .buttons #yellow {
        padding: 10px 10px;
        gap: 2px;
        font-size: 8px;
        margin-bottom: 15px;
    }
    
    .card-infos .buttons #white {
        padding: 10px 10px;
        border: 1px solid #02033B;
        font-size: 8px;
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1250px) {
    .card-page {
        padding: 50px;
        align-items: center;
        justify-content: center;
    }

    .card-page h1 {
        font-size: 20px;
        padding-bottom: 30px;
    }

    .card-infos {
        align-items: center;
        justify-content: center;
        margin-left: 280px;
        width: 320px;
        height: 350px;
        border-radius: 20px;
        padding: 10px;
    }

    .card-infos .line-one {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        padding: 20px;
        gap: 0px
    }

    .card-infos .line-one .icon img {
        width: 30px;
        height: 30px;
        margin: 0px 0px 0px 25px;
        align-items: center;
        justify-content: space-around;
    }

    .card-infos .line-one .icon h2{
        font-size: 10px;
        padding-top: 12px;
    }

    .card-infos .line-one .icon p{
        display: none;
    }

    .card-infos .line-two {
        display: flex;
        margin-left: 10px;
        padding: 20px;
        gap: 10px
    }
    .card-infos .line-two .icon {
        justify-content: center;
        align-items: center;
    }

    .card-infos .line-two .icon img {
        width: 30px;
        height: 30px;
        margin: 0px 65px 0px 22px;
        justify-content: space-around;
        align-items: center;
    }

    .card-infos .line-two .icon h2{
        font-size: 10px;
        padding-top: 12px;
        gap: 5px
    }

    .card-infos .line-two .icon p{
        display: none;
    }

    .card-infos .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        gap: 20px;
    }
    
    .card-infos .buttons #yellow {
        padding: 10px 10px;
        gap: 2px;
        font-size: 8px;
        margin-bottom: 15px;
    }
    
    .card-infos .buttons #white {
        padding: 10px 10px;
        border: 1px solid #02033B;
        font-size: 8px;
        margin-bottom: 15px;
    }
}